.tns-nav {
  text-align: center;

  > button {
    display: inline-block;

    width:  $tns-dot-size;
    height: $tns-dot-size;

    padding: 0;
    margin: 0 $tns-dot-spacing;

    outline: 0 none;
    border: 0 none;
    border-radius: 50%;
    background: var(--tnav);

    &.tns-nav-active,
    &:hover {
      background: var(--tnav-a);
    }
  }

  // Colors
  &-2 {
    --tnav:var(--tnav-2);
    --tnav-a:var(--tnav-2-a);
  }

  &-3 {
    --tnav:var(--tnav-3);
    --tnav-a:var(--tnav-3-a);
  }
}
