.tns-ovh {
  margin: var(--t-gtr);
  overflow: visible;

  // Reset margin within box elements
  .box & { margin: 0; }
}

.tns-outer {
  position: relative;
}

.tns-nav,
.tns-controls {
  z-index: 1;
  margin: $grid-gutter-bottom var(--t-gtr) var(--t-gtr);

  pointer-events: none;

  button {
    pointer-events: all;
  }

  .box & {
    margin: $grid-gutter-bottom 0 var(--t-gtr);
  }

  // Switch margin when position top has been chosen (first or second child)
  &:nth-child(-n+2) {
    margin: var(--t-gtr) 0 $grid-gutter-bottom;
  }
}

.tns-slider {

  &.grid-list {--v-gap:0rem;--h-gap:0rem;}

  .tns-item {
    -webkit-user-select: none;
    user-select: none;
    outline: 0 none;
  }

  img {
    -webkit-user-drag: none;
  }
}

.init-slider {
  --tn:var(--tn-1);
  --tn-a:var(--tn-1-a);
  --tb:var(--tb-1);
  --tb-a:var(--tb-1-a);
  --tb-c:var(--tb-1-c);
  --tb-c-a:var(--tb-1-c-a);
  position: relative;

  > .inside,
  > .tns-outer {
    overflow: hidden;
    margin: calc(var(--t-gtr) * -1);
  }

  > .inside > .c_headline {
    padding: var(--t-gtr) var(--t-gtr) 0;
  }

  &.box > .inside { margin: 0; }
}
