.tns-controls {
  outline: 0 none;

  button {
    outline: 0 none;
    border:  0 none;

    background: var(--tb);
    color:      var(--tb-c);

    &:hover {
      background: var(--tb-a);
      color:      var(--tb-c-a);
    }
  }
}

// Colors
.tb {

  &-2 {
    --tb:var(--tb-2);
    --tb-a:var(--tb-2-a);
    --tb-c:var(--tb-2-c);
    --tb-c-a:var(--tb-2-c-a);
  }

  &-3 {
    --tb:var(--tb-3);
    --tb-a:var(--tb-3-a);
    --tb-c:var(--tb-3-c);
    --tb-c-a:var(--tb-3-c-a);
  }
}
