.tns-nav {
  text-align: center;

  button {
    display: inline-block;
    padding: $tns-dot-spacing;
    border: 0 none;
    background: transparent;

    &:hover {
      background: transparent;
    }
  }
}

.tns-dot {
  display: block;

  width:  $tns-dot-size;
  height: $tns-dot-size;

  border-radius: 50%;

  background: var(--tn);
}

:is(.tns-nav-active, .tns-active:hover) .tns-dot {
  background: var(--tn-a);
}

// Colors
.tn {

  &-2 {
    --tn:var(--tn-2);
    --tn-a:var(--tn-2-a);
  }

  &-3 {
    --tn:var(--tn-3);
    --tn-a:var(--tn-3-a);
  }
}
