.tns-nav {
  text-align: center;

  button {
    display: inline-block;

    width:  $tns-dot-size;
    height: $tns-dot-size;

    padding: 0;
    margin: 0 $tns-dot-spacing;

    border-radius: 50%;

    outline: 0 none;
    border: 0 none;

    background: var(--tn);

    &.tns-nav-active,
    &:hover {
      background: var(--tn-a);
    }
  }
}

// Colors
.tn {

  &-2 {
    --tn:var(--tn-2);
    --tn-a:var(--tn-2-a);
  }

  &-3 {
    --tn:var(--tn-3);
    --tn-a:var(--tn-3-a);
  }
}
