[class*="tbtn-"] {

  .tns-controls {
    position: absolute;
    inset: var(--tb-inset);

    margin-top: 0;
    margin-bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tns-outer {
    position: var(--tb-pos);
  }
}

[class*="tnav-"] {

  .tns-nav {
    position: absolute;
    inset: var(--tn-inset);

    margin: var(--tn-m);

    display: var(--tn-dsp);
    flex-direction: column;
    justify-content: center;

    button {
      margin: var(--tn-b-m);
    }
  }
}

@include generate-infix-breakpoint-styles((
  // Tns controls
  '.tbtn': (
    '&-in':  (
      --tb-inset:0,
      --tb-pos:relative
    ),
    '&-out': (
      --tb-inset:0 -#{$tns-controls-outer-offset},
      --tb-pos:revert
    )
  ),
  // Tns navigation
  '.tnav': (
    '&-t':  (--tn-inset:0 0 auto 0),
    '&-b':  (--tn-inset:auto 0 0 0),
    '&-r':  (--tn-inset:0 0 0 auto),
    '&-l':  (--tn-inset:0 auto 0 0),
    '&-t,&-b': (
      --tn-b-m:0 #{$tns-dot-spacing},
      --tn-m:#{divide($grid-gutter-width, 2)} 0,
      --tn-dsp:block
    ),
    '&-r,&-l': (
      --tn-b-m:#{$tns-dot-spacing} 0,
      --tn-m:0 #{divide($grid-gutter-width, 2)},
      --tn-dsp:flex
    )
  ),
  // Overflows
  '.t': (
    '&-ovh': (--tn-ov:hidden),
    '&-ovv': (--tn-ov:visible)
  )
));
