.color-text {

  &-inv {
    --tn-1:#{$tns-color-regular-invert};
    --tn-1-a:#{$tns-active-color-regular-invert};
    --tb-1:#{$tns-color-regular-invert};
    --tb-1-a:#{$tns-active-color-regular-invert};
    --tb-1-c:#{$tns-color-regular};
    --tb-1-c-a:#{$tns-active-color-regular};

    --tn-2:#{$tns-color-primary-invert};
    --tn-2-a:#{$tns-active-color-primary-invert};
    --tb-2:#{$tns-color-primary-invert};
    --tb-2-a:#{$tns-active-color-primary-invert};
    --tb-2-c:#{$tns-color-primary};
    --tb-2-c-a:#{$tns-active-color-primary};

    --tn-3:#{$tns-color-secondary-invert};
    --tn-3-a:#{$tns-active-color-secondary-invert};
    --tb-3:#{$tns-color-secondary-invert};
    --tb-3-a:#{$tns-active-color-secondary-invert};
    --tb-3-c:#{$tns-color-secondary};
    --tb-3-c-a:#{$tns-active-color-secondary};
  }
}
